<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quiz Master</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div>
        <div class="p-3 mb-2 bg-info-subtle text-info-emphasis" align="center"><h1><b>Welcome to <i>Quiz Master</i></b></h1></div>
    </div>
    <!-- Container for Image and Card -->
    <div id="main" class="container d-flex justify-content-center align-items-center mt-5">
        <!-- Left Image Section -->
        <div class="me-4">
            <img src="/static/quizcardbg.jpg" class="img-fluid rounded" alt="Placeholder Image" style="max-width: 800px;">
        </div>

        <!-- Right Login Card -->
        <div>
            <div id="login" class="card text-bg-dark mb-3" style="width: 30rem;">
                <div class="card-header">
                    <h2>Welcome Back!</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Click Below to Login!</h5>
                    <p class="card-text">
                        <button type="button" class="btn btn-outline-primary"><a href="/login">Login</a></button>
                    </p>
                    <div class="footer">
                        <h5>First time user?</h5>
                        <p class="card-text">
                            <button type="button" class="btn btn-outline-primary"><a href="/register">Register</a></button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="background: seagreen;">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
              <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Priyanshu (24f1001667)</span>
          </div>
      
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
          </ul>
        </footer>
    </div>
</body>
</html>